<div class="container">
  <div>
    <b>Q. <%= @question.title %></b>
    <% if current_user == @question.user %>
      <%= link_to 'Edit', edit_question_path(@question) %>
      <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br><br>
    <p>Description : <%= @question.description %></p>
    <div>
      <strong><%= @answers.count > 1 ? "#{@answers.count} Answers" : "#{@answers.count} Answer"%></strong><br><br>
      <% @answers.map do |answer| %>
        <div><%= answer.sanitize_title %></div><br>
        <hr>
      <% end %>
    </div>
    <hr>
    <h3>Your Answer</h3>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= form_with url: question_answers_path(@question.id), method: :post do |form| %>
          <%= form.cktext_area :title, id: 'answer', ckeditor: { language: 'uk'} %>
          <br>
          <%= form.submit "Create Answer", class: "btn btn-success"%>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back', questions_path %>
  </div>
</div>
